:root {
    --color-main: #cf7200;
    /* --color-secundario: rgb(34, 34, 247);  */

    --color-de-fondo: #F5F5F5;
    /* --color-main: #FFA500; Naranja */
    --color-secundario: #1e1bb6; /* Negro oscuro
    */

    
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo);
    /* font-family: 'Raleway', sans-serif; */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    line-height: 1;
    overflow-x: hidden; /* Desbordamiento horizontal */
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Sección menú/header */
section.menu {
    background-color: var(--color-main);
    color: #fff;
    padding: 30px 0;
    height: 96px;

    
}

.menu__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 10px;
}

.menu__header h3 {
    letter-spacing: 5px;
    /* font-size: 34px; */
    font-size: 40px;
}

.menu img {
    width: 100px;
}

/* Sección productos */
section.productos {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.productos__box {
    max-width: 768px;
    max-height: 900px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
    gap: 40px;
    padding: 40px;
}

.producto__accion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.productos__container {
    text-align: center;
    height: 700px;
    max-width: 678px;
    min-width: 677px;
    max-height: 971px;
    border: 2px solid var(--color-main);
    border-radius: 15px;
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;

    overflow-y: auto; /* barra de desplazamiento vertical*/
    overflow-x: hidden;
}

.productos__titulo {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 900;
    margin: 0;
}

.producto {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: var(--color-main);
    color: whitesmoke;
    max-width: 190px;
    max-height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
    padding: 10px;
    max-height: 350px;
}

.producto__imagen {
    border: 5px solid black;
    border-radius: 5px;
    max-width: 100%;
    width: 175px;
}

.producto__nombre {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
    margin-top: 5px;
}

.producto__borrar {
    background-color: var(--color-secundario);
    color: white;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid var(--color-secundario);
    width: 50px;
    height: 50px;
    /* padding: 0px 12px; */
    transition: transform .4s ease;
}

.producto__accion button:hover {
    transform: scale(1.1);
}

.fa-trash-can {
    transition: transform .4s ease;
}

.producto__accion button:hover .fa-trash-can {
    transform: scale(1.4);
}

.producto__precio {
    font-size: 20px;
    
}

.productos__titulo,
.formulario__titulo {
    text-transform: uppercase;
}

/* seccion formulario */
.formulario {
    width: 472px;
    height: 517px;
}

.formulario__producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.formulario__titulo {
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
}

.formulario__input {
    width: 90%;
    padding: 10px 10px 10px 20px;
    border: 2px solid var(--color-main);
    border-radius: 30px;
    height: 30px;
    letter-spacing: 1px;
    color: #160036;
    font-weight: 700;
}

.botones {
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
}

.formulario__enviar,
.formulario__reset {
    padding: 20px;
    width: 150px;
    border-radius: 15px;
    letter-spacing: 2px;
}

.formulario__enviar {
    background-color: var(--color-main);
    color: white;
    border: 2px solid var(--color-main);
}

.formulario__reset {
    color: var(--color-main);
    border: 2px solid var(--color-main);
}

/* Sección Footer */
section.footer {
    background-color: var(--color-main);
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 232px;
    width: 100%; 
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    /* background: #f2cff8;  */
    /* background: rgb(158, 158, 255);  */
    background: rgb(188, 188, 255); 
    border-radius: 0 40px 40px 0;
}

::-webkit-scrollbar-thumb {
    /* background-color: #5300C8; Color de la barra de desplazamiento */
    background-color: var(--color-secundario);
    border-radius: 6px; /* Radio del borde de la barra de desplazamiento */
    border: 3px solid #f0f0f0; /* Borde alrededor de la barra de desplazamiento */
    border-radius: 0 40px 40px 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1417ed; /* Color al pasar el ratón por encima */
}

/* placeholder */
::placeholder {
    color: var(--color-main); /* Color del placeholder */
    letter-spacing: 2px;
    /* padding-left: 10px; */
    font-weight: 900;
}

/* Para navegadores Webkit (Chrome, Safari, Opera) */
input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder {
    color: var(--color-main);
}

/* Para Firefox */
input::-moz-placeholder, 
textarea::-moz-placeholder {
    color: var(--color-main);
}

/* Para Internet Explorer 10-11 */
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder {
    color: var(--color-main);
}

/* Para Microsoft Edge */
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder {
    color: var(--color-main);
}

.custom-cursor,
.producto__borrar {
    cursor: url('../assets/kunai.png'), auto; 
}

/* Tablet */
@media (max-width: 900px) {
    /* Estilos específicos para tablet */
    section.productos {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .productos__container {
        width: 670px;
    }

    .formulario {
        height: 340px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    /* Estilos específicos para mobile */
    .menu img {
        width: 70px;
    }

    .productos__box {
        padding: 10px;
    }
    .productos__container {
        min-width: 200px;
        height: 600px;
        width: 250px;
    }

    .producto {
        width: 200px;
        height: 300px;
        max-width: 350px;
        max-height: 300px;
        gap: 0;
        margin: 0;
    }

    .producto__imagen {
        max-width: 70%;
        width: 130px;
    }

    .formulario {
        width: 350px;
        height: 400px;
    }
}
